# Sources (not needed in the finished extension)
src/**
.vscode-test/**

# Configs
.git/
.gitignore
.vscodeignore
eslint.config.mjs
tsconfig.json
**/tsconfig.json

# Documentation (leaving the README and CHANGELOG)
vsc-extension-quickstart.md
DEVELOPMENT.md

# Compiled maps (optional, you can leave them for debugging)
**/*.map

# TypeScript files
**/*.ts
!**/*.d.ts

# Node
node_modules/

# Temporary
*.vsix
.DS_Store

# But we keep what we need
!out/
!resources/
!README.md
!CHANGELOG.md
!LICENSE